body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  align-items: center;
  text-align: center;
}
/*
button:hover {
  background-color: #2980b9;
} */

.main {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#searchOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.closebtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closebtn:hover,
.closebtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------- HANNAHS CSS FILES ADDED BELOW, MIGHT NEED TO MERGE OR CLEAN UP IDK I GOT LAZY ----*/
.navbar-container {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  background-color: #333;
  top: 0;
  z-index: 100; /* to make sure it appears above other elements*/
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  background-color: #333;
  top: 0;
  z-index: 100; /* to make sure it appears above other elements*/
}

.profile-circle {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
}

/* .profile-outer {
position: relative;
display:flex;
background-color: rgb(28, 97, 193);
height: 3rem; 
width: 3rem;   
border-radius: 50%;
border: 2px solid #fff;
box-sizing: border-box;
} */

.nav2 {
  color: #fff;
}

.nav-item {
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.75rem 1.125rem; /* px-3 py-2 */
  font-size: 1; /* text-sm */
  font-weight: 500; /* font-medium */
  text-decoration: none;
  color: #fff;
}

/* Styles for the active state */
.nav-item.active {
  background-color: #ffffff; /* bg-gray-900 */
  color: #fff; /* text-white */
}

/* Hover styles for non-active items */
.nav-item:not(.active):hover {
  background-color: #555; /* hover:bg-gray-700 */
  color: #fff; /* hover:text-white */
}

.circular-container {
  width: 100%;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}
